.feed-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .feed{
        max-width: 300px;
        width: 100%;

        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .post{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #312626;
                padding-inline: 0.5rem;
                padding-block: 0.5rem;

                .user{
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    border: 2px solid rgba(255, 0, 0, 0);
                    background: conic-gradient(from 45deg, rgb(255, 102, 0),rgb(105, 0, 128),rgb(255, 102, 0))border-box;

                    .img-wrapper{
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    img{
                        width: 2rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                    }
                }

                .icons{
                    display: flex;
                    justify-content: space-between;
                    .left{
                        display: flex;
                        gap: 0.75rem;
                    }
                    svg{
                        width: 1rem;
                        aspect-ratio: 1/1;
                        color: white;
                    }
                    button{
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }

                img{
                    width: 100%;
                }
            }
        }
    }
}